# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sensitive Credentials & Environment
.env
.env*.local
service-account*.json
*credentials*.json
*.key
scratch/
